<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Bewertungen</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="img/logo-t.ico" />
    <link rel="stylesheet" type="text/css" href="css/styleBew.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="mainContainer">

    <div id="header">
        <figure id="logo">
            <a href="home.html">
                <img src="img/logo.png" class="logoC" alt="Take me away logo" />
            </a>
        </figure>
        <form id="search">
            <input type="text" id="searchField" placeholder="Reiseziel,Landname,Stadtname..">
            <button id="searchBtn" type="button">Suche</button>
        </form>

        <nav>
            <ul>
                <li><a href="#">Startseite</a></li>
                <li><a href="#">Über Uns</a></li>
                <li><a>Konto</a>
                    <ul>
                        <li><a href="Übersicht.html">Übersicht</a></li>
                        <li><a href="Bewertungen.html">Bewertungen</a></li>
                        <li><a href="Buchungen.html">Buchungen</a></li>
                        <li><a href="Einstellungen.html">Einstellungen</a></li>
                        <li><a href="Abmelden.html">Abmelden</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <div id="containerBLUE">

        <h2>Meine Bewertungen<h2>

                <div class="bewertung-box1">

                    <p id="bewTitel">beste Reise</p>

                    <div class="bewertung-sterne">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <span class="bewDatumOrt">01 März 2020 no where</span>
                    <div class="bewText">Extremity direction existence as dashwoods do up. Securing marianne
                        led welcomed offended but offering six raptures. Conveying concluded newspaper
                        rapturous oh at. Two indeed suffer saw beyond far former mrs remain.</div>

                    <button class="loeschen">Löschen</button>

                </div>

                <hr>

                <div class="bewertung-box1">

                    <p id="bewTitel">nicht die beste</p>

                    <div class="bewertung-sterne">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <span class="bewDatumOrt">05 Augus 2019 Mars</span>
                    <div class="bewText">View fine me gone this name an rank. Compact greater and demands mrs the
                        parlors. Park be fine easy am size away. Him and fine bred knew. At of hardly sister favour. As
                        society explain country raising weather of. Sentiments nor everything off out uncommonly
                        partiality bed. </div>

                    <button class="loeschen">Löschen</button>

                </div>

    </div>



    <footer>
        <ul id="zusatzInfos">
            <li><a href=#>Hilfe</a></li>
            <li><a href=#>Datenschutz</a></li>
            <li><a href=#>Impressum</a></li>
            <li><a href=#>Über Uns</a></li>
            <li>zuletzt geändert am: 15.06.2020</li>
        </ul>
        <small>&copy; Take me away</small>
    </footer>

</body>

</html>